#  Datasets
Datasets/HW-Benign
Datasets/HW-Phishing
Datasets/LLM-Benign
Datasets/LLM-Phishing
Detectors/Industry/email_detectors/open-source-git/email-phishing-detection_V3
Detectors/Industry/email_detectors/open-source-git/Phishing-Email-Agent
Detectors/output/logs

diagrams

# python corresponding
--pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# overlook log and big data
*.log
*.zip
*.tar.gz
*.sh
!Detectors/Industry/email_detectors/run_email-phishing-detection_V3.sh
!Detectors/Industry/email_detectors/run_llm_guard.sh
!Detectors/Industry/email_detectors/output/run_spamassassin_industry.sh
!Detectors/Industry/email_detectors/spamassassin/install_spamassassin.sh
!Detectors/Industry/email_detectors/spamassassin/update_rules.sh
