#  Datasets
Datasets/HW-Benign
Datasets/HW-Phishing
Datasets/LLM-Benign
Datasets/LLM-Phishing
Detectors/Industry/email_detectors/open-source-git/email-phishing-detection_V3
Detectors/Industry/email_detectors/open-source-git/Phishing-Email-Agent
Detectors/**/__pycache__/
Detectors/**/*.pyc
Detectors/**/results/
Detectors/**/runs/
Detectors/**/logs/
Detectors/**/_logs/
Detectors/**/_detector_runs/
Detectors/**/_debug*/
Detectors/**/*.before_*.csv
Detectors/**/*.backup.csv
Detectors/Academic/email_detectors/HW-Acad/*.csv
Detectors/Academic/email_detectors/LLM-Acad/*.csv
Detectors/Industry/email_detectors/output/LLM-Ind/*.csv
Detectors/Industry/email_detectors/output/HW-result/**/*.csv
Detectors/Industry/email_detectors/output/**/*.json
!Detectors/examples/*.csv
!Detectors/**/README.md
!Detectors/**/ReadMe.md

diagrams

# python corresponding
--pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# overlook log and big data
*.log
*.zip
*.tar.gz
*.sh
!Detectors/Industry/email_detectors/run_email-phishing-detection_V3.sh
!Detectors/Industry/email_detectors/spamassassin/install_spamassassin.sh
!Detectors/Industry/email_detectors/spamassassin/update_rules.sh
